name: CI
on:
  workflow_call:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-checks:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run cargo-sort
        run: |
          cargo install cargo-sort
          cargo sort --check --workspace --grouped --order package,workspace,lints,profile,bin,benches,dependencies,dev-dependencies,features

      - name: Run Fmt
        run: cargo fmt --all --check

      - name: Run Clippy
        run: cargo clippy  --workspace --lib --examples --tests --benches --all-features --locked

      - name: Build
        run: cargo build

      - name: Run Test
        run: cargo test
